---
import { cfImageUrl } from '../utils/cfImages';

const { album } = Astro.props;
const badgeLabel = album.date ? new Date(album.date).getFullYear().toString() : 'Album';
---

<a class="card" href={`/albums/${album.slug}`}>
  <img
    src={cfImageUrl(album.coverKey, { width: 700, quality: 75 })}
    alt={`${album.title} cover`}
    loading="lazy"
    decoding="async"
    width="700"
    height="467"
  />
  <div class="card-body">
    <div class="badge">{badgeLabel}</div>
    <h3 style="margin-top: 0.75rem;">{album.title}</h3>
  </div>
</a>
